#header {
	background: #fff url('/images/header-bg.jpg') scroll no-repeat center center;
	clear: both;
	margin: 0 0 1em 0;
}

#header h1 {
	font-family: Georgia, serif;
	font-size: 2em;
	margin: 0;
}

#header h1 img {
	margin: 0 .5em 0 0;
	vertical-align: middle;
}