#products .product_preview img {
	margin: 0 auto .2em auto;
}

#products .product_preview {
	margin: 0 .25em;
	padding: .5em;
	width: 10em;
}


#products .product_preview p {
	margin-bottom: 0;
}

#products .product_row {
	clear: both;
}