#sidebar {
	background-color: #fff;
	border: 1px solid #f60;
	border-top: .5em solid #f60;
	border-bottom: .5em solid #f60;
	color: #000;
	float: right;
	padding: 1em .5em;
	margin: .5em 1em;
	width: 16em;
}

#sidebar h2 {
	display: none;
}

#sidebar ul#alpacas {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar ul#alpacas li {
	clear: both;
	font-size: .8em;
	line-height: 2em;
}

#sidebar ul#alpacas img {
	background: transparent url('/images/alpaca_placeholder.png') no-repeat scroll top left;
	float: left;
	display: block;
	margin: 0 .5em .5em 0;
	vertical-align: middle;
	width: 100px;
	height: 75px;
}